html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color: #E0F4FF;
 
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

// .section-container {
//     margin-left: 10vw;
//     margin-right: 10vw;
// }