a{
    text-decoration: none;
}

.navbar-container {
    height: 15vh;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo-container{

        }
    }
}