a{
    text-decoration: none;
}

.navbar-container {
    height: 15vh;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
        h1{
            font-family: "Black Ops One", system-ui;
            letter-spacing: 10px;
            font-size: 50px;
            color: rgb(134, 134, 250);
            padding: 10px;
            border: 1px solid black;
            border-radius: 10px;
        }
    }
}